<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}input[type=submit] {
    width: 60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;}input[type=submit]:hover {
    background-color: #45a049;}div {
    background-color: #f2f2f2;
    padding: 20px;
}.header{color: #fff; background-color: #99ccff; padding 5px 6px; margin: 1px; border: 1px solid #cc99ff;}.error {background:#ffebe8; border:1px solid #dd3c10; padding:2px; text-align:center; font-weight:normal; color:maroon;}.success {background:#fff8cc; border:1px solid #ffe222; padding:10px; text-align:center; font-weight:normal; color:#000;}</style></head><title></title><body style='background-color:#eee;font-family: Cursive;'>

<meta http-equiv='refresh' content=6;' /><hr style='border: 2px dotted dodgerblue'/><center><font color='#bdb76b' size='5px'><b>You have to view add minimun 30 sec. Otherwise your click will not be valid and you will not get paid.',</b></font><br/><font color='#bdb76b' size='4px'>Updated Balance is: </font></center><hr style='border:2px dotted dodgerblue'/><fieldset style='border: 2px solid dodgerblue;'>